{:itonami.blueprint/id "cloud-itonami-isic-4669"
 :itonami.blueprint/name "Wholesale of waste and scrap and other products n.e.c."
 :itonami.blueprint/isic-rev5 "4669"
 :itonami.blueprint/domain :midstream/waste-scrap-wholesale
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:environmental-protection :public-health :transparency]
 :itonami.blueprint/governor :waste-trading-governor
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :optimization]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/robotics true
 :itonami.blueprint/maturity :implemented}
