{:kotoba.app/id "cloud.itonami.isic-4669", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifwxlgdjmuopcdigkkx47hqe7wivdjalammi5255gn25b2lsu3f4y", :kotoba.app/embed-url "ipfs://bafkreifwxlgdjmuopcdigkkx47hqe7wivdjalammi5255gn25b2lsu3f4y", :published {:archive "https://kotobase.net/ipfs/bafkreifwxlgdjmuopcdigkkx47hqe7wivdjalammi5255gn25b2lsu3f4y", :size 72940, :put-status 201, :get-status 200, :at "2026-08-15T13:35:42.087Z"}}
